# railpack
RAILPACK_BUILD_CMD="bun run build"
RAILPACK_START_CMD="bun run start"
HOST=0.0.0.0
PORT=4321

# emdash
EMDASH_ENCRYPTION_KEY=
EMDASH_SITE_URL=https://example.com

# libsql db
LIBSQL_DATABASE_URL=
LIBSQL_AUTH_TOKEN=

# r2 storage
S3_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
S3_BUCKET=example-bucket
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=auto
S3_PUBLIC_URL=https://media.example.com
