# emdash
EMDASH_ENCRYPTION_KEY=emdash_<...>

# optional
EMDASH_SITE_URL=
EMDASH_ALLOWED_ORIGINS=
EMDASH_DATABASE_URL=
EMDASH_PREVIEW_SECRET=
EMDASH_IP_SALT=
EMDASH_URL=

IN_BUILD=true
ALLOW_POLICIES_IN_BUILD=false