@import "tailwindcss";
@plugin "daisyui" {
	themes: hiro --default;
}

@theme {
	/* base color*/
	--color-base: oklch(0.96 0.005 110);
	/* font-colors */
	--color-ink: oklch(0.18 0 0);
	--color-ink-light: oklch(0.38 0 0);

	/* accent color */
	--color-primary: oklch(0.6 0.197 25);
	--color-primary-hover: oklch(0.54 0.176 25);

	/* line color*/
	--color-line: oklch(0.7953 0.005 110);

	/* title font */
	--font-display: "Space Grotesk", system-ui, sans-serif;

	/* text font */
	--font-mono: "JetBrains Mono", monospace;

	/* emdash aliases */
	--font-serif: var(--font-display);
	--font-sans: var(--font-mono);
}

@plugin "daisyui/theme" {
	name: "hiro";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(0.96 0.005 110);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(0.18 0 0);
	--color-primary: oklch(0.6 0.197 25);
	--color-primary-content: oklch(0.96 0.005 110);
	--color-secondary: oklch(87% 0.006 286.286);
	--color-secondary-content: oklch(0.18 0 0);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.28125rem;
	--size-field: 0.28125rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

:root {
	--color-bg: var(--color-base);
	--color-text: var(--color-ink);
	--color-muted: var(--color-ink-light);
	--color-border: var(--color-ink);
	--color-surface: var(--color-base);
	--color-accent: var(--color-primary);
	--color-accent-muted: var(--color-primary--hover);
}

@layer base {
	body {
		background-color: var(--color-base);
		color: var(--color-ink);
		font-family: var(--font-mono);
		font-weight: 400;
		font-size: 14px;
		line-height: 1.6;

		/* font antialiasing */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h1,
	h2,
	h3 {
		font-family: var(--font-display);
		font-weight: 700;
		letter-spacing: -0.03em;
		line-height: 0.95;
	}

	/* text selection color*/
	::selection {
		background-color: var(--color-primary-hover);
		color: var(--color-base);
	}
}

@layer components {
	.link {
		@apply underline decoration-primary underline-offset-3 cursor-pointer;
	}

	.lineh {
		@apply mx-6 sm:mx-10 md:mx-14 lg:mx-17 border-x-line border-x;
	}
}
